<!DOCTYPE html>
<html>

<head>
    <title>Cisco/Genesys Emergency Contact</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />  <!-- This fixes the stupid compatibility mode for intranet sites by forcing it to use most modern browser version. -->
    <link rel="Stylesheet" type="text/css" href="/public/stylesheets/stylesheet.css">
</head>

<body>


    <div id="wrapper">



   

    <div id="header">
        <h1>Genesys/Cisco Issues</h1>
        <a id="homeBox" name="shomeBox" href="index.html">Home</a>
    </div>
    
    
        <hr />
        <div #revision>
            <h3>For Genesys Failures (calls not routed to agents)</h3>
            <ul>
                <li>GOS L2 Contact:  8-723-5013 (480)-723-5013</li>
                <li>GOS Emergency Line (if above does not work): 8-723-2886 (480)-723-2886</li>
            </ul>
        </div> 
   
  
        <hr />
        <div #revision>
            <h3>For Cisco Failures</h3>
            <ul>
                <li>For single phone issues contact IT TAC: 8-696-1234  (503)-696-1234</li>
                <li>For phone system outages contact IT Phone Support:   1+(916)-377-9959</li>
            </ul>
        </div> 

   
        <div id="footer">
            <p>Page Owner - <a target="_blank" href="mailto:brian.d.albrecht@intel.com?subject=FAST Quick Reference Feedback">Brian Albrecht</a> | Last updated <script src="FileDate.js"></script></p>            
        </div>

        <div id="searchResults">
            <ul id="results">
        
            </ul>
        </div>
   
    
    </div> <!-- End Wrapper -->
    <script src="searchscript.js"></script>
</body>
</html>