<!DOCTYPE html>
<html>

<head>
    <title>FAST Support Page - Revision History</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />  <!-- This fixes the stupid compatibility mode for intranet sites by forcing it to use most modern browser version. -->
    <link rel="Stylesheet" type="text/css" href="/public/stylesheets/stylesheet.css">
    
</head>

<body>


    <div id="wrapper">



   

    <div id="header">
        <h1>Phone Menu</h1>
        <a id="homeBox" name="shomeBox" href="index.html">Home</a>
    </div>
    
    
        <div id="main">
            <table width="43%" border="0" align="center" cellpadding="3" cellspacing="4" id="table1" style="background-color:#0071c5">
                <tr>
                    <td width="193" align="right"><font face="Neo Sans Intel Medium" color="#FFFFFF">D1D Frontdoor : </font></td>
                    <td width="217" align="left"><font face="Neo Sans Intel Medium" color="#FFFFFF">971-214-FAST(3278) </font></td>
                </tr>
                <tr>
                    <td width="193" align="right"><font face="Neo Sans Intel Medium" color="#FFFFFF">D1C Frontdoor :</font></td>
                    <td align="left"><font face="Neo Sans Intel Medium" color="#FFFFFF">503-613-FAST(3278)</font></td>
                <tr>
                    <td width="193" align="right"><font face="Neo Sans Intel Medium" color="#FFFFFF">AFO Frontdoor :</font></td>
                    <td align="left"><font face="Neo Sans Intel Medium" color="#FFFFFF">971-215-FAST(3278)</font></td>
                </tr>
                </tr>
                <tr>
                    <td width="193" align="right"><font face="Neo Sans Intel Medium" color="#FFFFFF">Toll Free :</font></td>
                    <td align="left"><font face="Neo Sans Intel Medium" color="#FFFFFF">866-861-8768</font></td>
                </tr>
                <tr>
                    <td width="193" align="right"><i> <font face="Neo Sans Intel Medium" color="#FFFFFF">Option 1 :</font></i></td>
                    <td align="left"><font face="Neo Sans Intel Medium" color="#FFFFFF">FAST Factory Support</font></td>
                </tr>
                <tr>
                    <td width="193" align="right"><i> <font face="Neo Sans Intel Medium" color="#FFFFFF">Option 2 :</font></i></td>
                    <td align="left"><font face="Neo Sans Intel Medium" color="#FFFFFF">EDispo / MSD</font></td>
                </tr>
                <tr>
                    <td width="193" align="right"><i> <font face="Neo Sans Intel Medium" color="#FFFFFF">Option 3 :</font></i></td>
                    <td align="left"><font face="Neo Sans Intel Medium" color="#FFFFFF">Accounts &amp; Vista</font></td>
                </tr>
                <tr>
                    <td width="193" align="right"><i> <font face="Neo Sans Intel Medium" color="#FFFFFF">Option 4 :</font></i></td>
                    <td align="left"><font face="Neo Sans Intel Medium" color="#FFFFFF">Die Prep Support</font></td>
                </tr>
                <tr>
                    <td width="193" align="right"><i> <font face="Neo Sans Intel Medium" color="#FFFFFF">Option 5 :</font></i></td>
                    <td align="left"><font face="Neo Sans Intel Medium" color="#FFFFFF">IT TAC</font></td>
                </tr>
                <tr>
                    <td width="193" align="right"><i> <font face="Neo Sans Intel Medium" color="#FFFFFF">Option 6 :</font></i></td>
                    <td align="left"><font face="Neo Sans Intel Medium" color="#FFFFFF">Dev Support Desk</font></td>
                </tr>
                <tr>
                    <td width="193" align="right"><i> <font face="Neo Sans Intel Medium" color="#FFFFFF">Option 7 :</font></i></td>
                    <td align="left"><font face="Neo Sans Intel Medium" color="#FFFFFF">Disaster Bridge 1</font></td>
                </tr>
                <tr>
                    <td width="193" align="right"><i> <font face="Neo Sans Intel Medium" color="#FFFFFF">Option 8 :</font></i></td>
                    <td align="left"><font face="Neo Sans Intel Medium" color="#FFFFFF">Disaster Bridge 2</font></td>
                </tr>
                <tr>
                    <td width="193" align="right"><i> <font face="Neo Sans Intel Medium" color="#FFFFFF">Option 11 :</font></i></td>
                    <td align="left"><font face="Neo Sans Intel Medium" color="#FFFFFF">D1 Secret Bridge 1</font></td>
                </tr>
                <tr>
                    <td width="193" align="right"><i> <font face="Neo Sans Intel Medium" color="#FFFFFF">Option 12 :</font></i></td>
                    <td align="left"><font face="Neo Sans Intel Medium" color="#FFFFFF">D1 Secret Bridge 2</font></td>
                </tr>
                <tr>
                    <td width="193" align="right"><i> <font face="Neo Sans Intel Medium" color="#FFFFFF">Option 9 :</font></i></td>
                    <td align="left"><font face="Neo Sans Intel Medium" color="#FFFFFF">Repeat Menu</font></td>
                </tr>
                <tr>
                    <td width="193" align="right"><font face="Neo Sans Intel Medium" color="#FFFFFF">*D1D Disaster Bridge 1<font size="2"> (4FAST Opt 7):</font></font></td>
                    <td align="left"><font face="Neo Sans Intel Medium" color="#FFFFFF">1-866-685-3761</font></td>
                </tr>
                <tr>
                    <td width="193" align="right"><font face="Neo Sans Intel Medium" color="#FFFFFF">*D1D Disaster Bridge 2 <font size="2">(4FAST Opt 8):</font></font></td>
                    <td align="left"><font face="Neo Sans Intel Medium" color="#FFFFFF">1-866-685-3762</font></td>
                </tr>
                <tr>
                    <td width="193" align="right"><font face="Neo Sans Intel Medium" color="#FFFFFF">*D1C Disaster Bridge 1<font size="2"> (3FAST Opt 4):</font></font></td>
                    <td align="left"><font face="Neo Sans Intel Medium" color="#FFFFFF">1-855-276-0859</font></td>
                </tr>
                <tr>
                    <td width="193" align="right"><font face="Neo Sans Intel Medium" color="#FFFFFF">*D1C Disaster Bridge 2 <font size="2">(3FAST Opt 5):</font></font></td>
                    <td align="left"><font face="Neo Sans Intel Medium" color="#FFFFFF">1-855-276-0860</font></td>
                </tr>
                <tr>
                    <td width="193" align="right"><font face="Neo Sans Intel Medium" color="#FFFFFF">D1D FAST Backdoor # :</font></td>
                    <td align="left"><font face="Neo Sans Intel Medium" color="#FFFFFF">971-214-1111</font></td>
                </tr>
                <tr>
                    <td width="193" align="right"><font face="Neo Sans Intel Medium" color="#FFFFFF">D1C FAST Backdoor # :</font></td>
                    <td align="left"><font face="Neo Sans Intel Medium" color="#FFFFFF">503-613-1199</font></td>
                </tr>
                <tr>
                    <td width="193" align="right"><font face="Neo Sans Intel Medium" color="#FFFFFF">*COS Hotline (opt 4) Direct :</font></td>
                    <td align="left"><font face="Neo Sans Intel Medium" color="#FFFFFF">1-971-214-2222</font></td>
                </tr>
                <tr>
                    <td width="193" align="right"><font face="Neo Sans Intel Medium" color="#FFFFFF">CAS Emergency # : </font></td>
                    <td align="left"><font face="Neo Sans Intel Medium" color="#FFFFFF">8-554-5533</font></td>
                </tr>
                <tr>
                    <td width="193" align="right"><font face="Neo Sans Intel Medium" color="#FFFFFF">AMAT Cust. Support :</font></td>
                    <td align="left"><font face="Neo Sans Intel Medium" color="#FFFFFF">1-800-726-7400</font></td>
                </tr>
                <tr>
                    <td width="193" align="right"><font face="Neo Sans Intel Medium" color="#FFFFFF">IT TAC Direct # :</font></td>
                    <td align="left"><font face="Neo Sans Intel Medium" color="#FFFFFF">6-1234 or 503-696-1234</font></td>
                </tr>
            </table>
        </div> <!-- End Wrapper -->
</body>
</html>