<!DOCTYPE html>
<html>

<head>
    <title>FAST Support Page</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />  <!-- This fixes the stupid compatibility mode for intranet sites by forcing it to use most modern browser version. -->
    <link rel="Stylesheet" type="text/css" href="/public/stylesheets/stylesheet.css">
    <link rel="shortcut icon" href="/public/img/favicon.ico" type="image/x-icon">
    <script src="/public/scripts/jquery-1.11.1.min.js"></script>
    <script src="/public/scripts/modernizr.custom.79706.js"></script>

</head>

<body>


    <div id="wrapper">





    <div id="header">
        <h1>Delight Our Customers</h1>
        <input type="text" id="searchBox" name="searchBox" placeholder="Search" autofocus/>
      <!--  <label for="searchString>Search</label> -->
    </div>



    <div id="content">
        <ul id="toggle-view"> 

            {{range .Sections}}
            <li>
                <h2 class="header">{{.Name}}</h2>
                <span>+</span>
                <div class="panel">
                    <ul>
                       {{range .Links}}
                            <li><a href="{{.Address}}" target="_blank">{{.Name}}</a></li>
                       {{end}}
                    </ul>
                </div>
            </li>
            {{end}}

           <li>
                <h2 class="header">Phone Numbers</h2>
                <span>+</span>
                <div class="panel">
                    <ul>
                        <li><a target="_blank" href="/FrontDoorPhoneMenu" title="phone extension FAST">Front Door Menu</a></li>
                        {{range .Phones}}
                            <li><strong>{{.Name}}</strong> - {{.Number}}</string></li>   
                        {{end}}
                    </ul>
                </div>
            </li>

        </ul>

    </div>


        <div id="footer">
            <p>Page Owner - <a target="_blank" href="mailto:brian.d.albrecht@intel.com?subject=FAST Quick Reference Feedback">Brian Albrecht</a> | <a tartet="_blank" href="revision_history.html">Last updated <script src="/public/scripts/FileDate.js"></script></a></p>
        </div>

        <div id="searchResults">
            <ul id="results">
            </ul>
        </div>


    </div> <!-- End Wrapper -->
    <script src="/public/scripts/SliderScript.js"></script>
    <script src="/public/scripts/searchscript.js"></script>
</body>
</html>
