<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="public/main.css">
    <title>FAST Support App</title>

</head>
<body>
    <div class="wrapper">
        <header>
            <div class="bg-image"></div>
            <h1>D1 FAST Support</h1>
            <h3>Delight Our Customers</h3>
        </header>
        <nav class="box" id="nav"></nav>
        <div class="box content">Content</div>
        <footer class="box footer">
            <script src="public/scripts/main.js"></script>
            Page Owner - <a target="_blank" href="mailto:brian.d.albrecht@intel.com?subject=FAST Support Application feedback">Brian Albrecht</a> | Last refresh <script src="public/scripts/FileDate.js"></script>
        </footer>
    </div>

</body>
</html>