<!DOCTYPE html>
<html>

<head>
    <title>FAST Support Page - Windows Shortcuts</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />  <!-- This fixes the stupid compatibility mode for intranet sites by forcing it to use most modern browser version. -->
    <link rel="Stylesheet" type="text/css" href="/public/stylesheets/stylesheet.css">
</head>

<body>

        <div id="wrapper">

                <div id="header">
                    <h1>Windows Shortcuts</h1>
                    <a id="homeBox" name="shomeBox" href="index.html">Home</a>
                </div>
        
                <table>
                    <tr>
                        <td>Accessibility Options - control access.cpl</td>
                        <td>Mouse Properties - control main.cpl</td>
                    </tr>
                    <tr>
                        <td>Add New Hardware - control sysdm.cpl add new hardware</td>
                        <td>Multimedia Properties - control mmsys.cpl</td>
                    </tr>
                    <tr>
                        <td>Add New HW Wizard - control hdwwiz.cpl</td>
                        <td>Network Properties - control netcpl.cpl</td>
                    </tr>
                    <tr>
                        <td>Add/Remove Programs - control appwiz.cpl (NOTE: In Windows NT 4.0 / XP , Network)</td>
                    </tr>
                    <tr>
                        <td>Administrative Tools - control admintools (Properties is Ncpa.cpl, not Netcpl.cpl)</td>
                    </tr>
                    <tr>
                        <td>Automatic Updates - control wuaucpl.cpl</td>
                        <td>Network Setup Wizard - control netsetup.cpl</td>
                    </tr>
                    <tr>
                        <td>Bluetooth Properties - control bthprops.cpl</td>
                        <td>ODBC Properties - control odbccp32.cpl</td>
                    </tr>
                    <tr>
                        <td>Control Panel - control panel</td>
                        <td>Password Properties - control password.cpl</td>
                    </tr>
                    <tr>
                        <td>Desktop Properties - control desktop (PC Card)</td>
                    </tr>
                    <tr>
                        <td>Display Properties - control desk.cpl</td>
                        <td>-PC card (PCMCIA) - control main.cpl</td>
                    </tr>
                    <tr>
                        <td>FindFast - control findfast.cpl</td>
                        <td>Power Options - control powercfg.cpl</td>
                    </tr>
                    <tr>
                        <td>Firewall Properties - control firewall.cpl</td>
                        <td>Printers Folder - control printers</td>
                    </tr>
                    <tr>
                        <td>Fonts Folder - control fonts</td>
                        <td>Regional Settings - control intl.cpl</td>
                    </tr>
                    <tr>
                        <td>Infrared Properties - control infrared</td>
                        <td>Scanners and Cameras - control sticpl.cpl</td>
                    </tr>
                    <tr>
                        <td>Internet Properties - control inetcpl.cpl</td>
                        <td>Schedule Tasks - control schedtasks</td>
                    </tr>
                    <tr>
                        <td>iSCSI Initiator - control iscsicpl.cpl</td>
                        <td>Sound and Audio Devices - control mmsys.cpl</td>
                    </tr>
                    <tr>
                        <td>Java Control Panel - control jpicpl32.cpl</td>
                        <td>Stored Passwords - control keymgr.cpl</td>
                    </tr>
                    <tr>
                        <td>Joystick Properties - control joy.cpl</td>
                        <td>System Properties - control sysdm.cpl</td>
                    </tr>
                    <tr>
                        <td>Keyboard Properties - control main.cpl keyboard</td>
                        <td>Telephone and Modem Properties - control telephon.cpl</td>
                    </tr>
                    <tr>
                        <td>Licensing Mode - control liccpa.cpl</td>
                        <td>Time/Date Properties -control timedate.cpl</td>
                    </tr>
                    <tr>
                        <td>Microsoft Exchange - control mlcfg32.cpl</td>
                        <td>User Accounts - control nusrmgr.cpl</td>
                    </tr>
                    <tr>
                        <td>-(or Windows Messaging)	</td>
                        <td>User Accounts Advances - control userpasswords2</td>
                    </tr>
                    <tr>
                        <td>Microsoft Mail Post Office - control wgpocpl.cpl	</td>
                        <td>Windows Security Center - control wscui.cpl</td>
                    </tr>
                    <tr>
                        <td>Modem Properties - control modem.cpl</td>
                    </tr>
                </table>
                                           
        
                <div id="footer">
                    <p>Page Owner - <a target="_blank" href="mailto:brian.d.albrecht@intel.com?subject=FAST Quick Reference Feedback">Brian Albrecht</a> | Last updated
                    <script src="/public/scripts/FileDate.js"></script></p>
                </div>
        
            </div> <!-- End Wrapper -->

</body>
</html>