<html>
    <head>
        <meta http-equiv="Content-Language" content="en-us" />
        <meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
        <title>YAS/Klarity</title>
        <style type="text/css">
            A:hover {color: #FF0000; font-weight: bold}
        </style>
    </head>

    <body background="Graphics_Library/blue.gif" link="#FFFFFF" vlink="#FFFFFF" alink="#FFFFFF">

        <p align="center"><b>
        <font size="6" face="Neo Sans Intel Medium" color="#FFFFFF">LTD FAST YAS / Klarity Support</font></b></p>
        <table border="0" width="100%" cellspacing="1">
	        <tr>
		        <td width="45%">
		            <p align="right">
                        <b>
                            <font face="Neo Sans Intel Medium" size="4" color="#FFFFFF">
                                D<span style="text-decoration: none">1D YAS / Klarity Troubleshooting</span>
                            </font>
                        </b>
                    </p>
                </td>
		        <td width="10%">&nbsp;</td>
		        <td width="45%">
                    <p align="left">
                        <b>
                            <font face="Neo Sans Intel Medium" size="4" color="#FFFFFF">
                                D<span style="text-decoration: none">1C YAS / Klarity Troubleshooting</span>
                            </font>
                        </b>
                    </p>        
                </td>
	        </tr>
	        <tr>
		        <td width="45%">
                    <p align="right">
                        <b>
                            <font face="Neo Sans Intel Medium" size="4" color="#FFFFFF">
                                1270&nbsp;1272 1274 1276&nbsp;
                            </font>
                        </b>
                    </p>
                </td>		        
                <td width="10%">&nbsp;</td>
		        <td width="45%">
                    <b><font face="Neo Sans Intel Medium" size="4" color="#FFFFFF">1270 1272</font></b>
                </td>
	        </tr>
	        <tr>
		        <td width="45%">
                    <p align="right">
                        <font color="#FFFFFF" face="Neo Sans Intel">
                            **D1D Yas folders are accessed through support box
                        </font>
                    </p>
                </td>
		        <td width="10%">&nbsp;</td>
		        <td width="45%">
                    <p align="left">
                        <font color="#FFFFFF" face="Neo Sans Intel">
                            **D1C Yas folders are accessed through rf2remoteadmin WTS.
                        </font>
                    </p>
                </td>
	        </tr>
	        <tr>
		        <td width="45%">
                    <p align="right">
                        <b>
                            <font face="Neo Sans Intel" color="#FFFFFF">
                                <a style="text-decoration: none" target="_blank" href="D1D_YAS_Folders.asp">D1D/AFO 1270/1272/1274 YAS / Klarity Folders</a>
                            </font>
                        </b>
                    </p>
                </td>
		        <td width="10%">&nbsp;</td>
		        <td width="45%">
                    <p align="left">
                        <b>
                            <font face="Neo Sans Intel" color="#FFFFFF">
                                <a style="text-decoration: none" target="_blank" href="D1C_YAS_Folders.asp">D1C 1270/1272 YAS / Klarity Folders</a>
                            </font>
                        </b>
                    </p>
                </td>
	        </tr>
        </table>

        <div align="center"><br />
	        <table border="0" width="651" cellspacing="0" cellpadding="0" id="table1">
		        <tr>
			        <td width="33%" align="center" valign="top" bgcolor="#0000FF">&nbsp;</td>
			            <td width="33%" align="center" valign="top" bgcolor="#0000FF">
                            <b><font face="Neo Sans Intel" color="#FFFFFF">D1D / D1C 1270,1272,1274 Defect Metro Tools</font></b>
                        </td>
			        <td width="33%" align="center" valign="top" bgcolor="#0000FF">&nbsp;</td>
		        </tr>
		        <tr>
			        <td width="33%" align="center" valign="top" bgcolor="#FFFF99">
                        <b><font face="Neo Sans Intel" color="#0000FF">Inspect</font></b>
                    </td>
			        <td width="33%" align="center" valign="top" bgcolor="#FFFF99">
                        <b><font face="Neo Sans Intel" color="#0000FF">Review</font></b>
                    </td>
			        <td width="33%" align="center" valign="top" bgcolor="#FFFF99">
                        <b><font face="Neo Sans Intel" color="#0000FF">Classification</font></b>
                    </td>
		        </tr>
		        <tr>
			        <td width="33%" align="center" bgcolor="#669999" height="80">
                        <b>
                            <font face="Neo Sans Intel" color="#FFFFFF">
                                <span style="text-decoration: none">BDI, BPD, BPK, BPN, CBI, FDA, FDB, FDH, FDK, FDT, SCI, UDC, UDI, UDK, UDL</span>
                            </font>
                        </b>
                    </td>
			        <td width="33%" align="center" bgcolor="#669999" height="80">
                        <b>
                            <font face="Neo Sans Intel" color="#FFFFFF">ORK, QEK, QEM, ORL, ORK, SRA, SRB, SRC, SRH, SRK, SRS</font>
                        </b>
                    </td>
			        <td width="33%" align="center" bgcolor="#669999" height="80">
                        <p align="center">
                            <b>
                                <font face="Neo Sans Intel" color="#FFFFFF">
                                    <span style="text-decoration: none">DOR</span>
                                </font>
                            </b>
                        </p>
                    </td>
		        </tr>
	        </table>

	        <table border="0" width="60%" id="table3" cellspacing="0" cellpadding="0" bgcolor="#000080">
		        <tr>
			        <td>
                        <p align="center"><font color="#FFFF99" size="5" face="Neo Sans Intel Medium">LTD FAST YAS / Klarity Common Issues</font></p>
                        <address>
                            <u><i><font face="Neo Sans Intel Medium" size="4" color="#FFFFFF">Inspec tools:</font></i></u>
                        </address>			        
                        <address>
                            <font face="Neo Sans Intel" size="2" color="#FFFFFF">
                                <a href="Done_Docs/Inspect_Tools_poling_for_yas_data_file.html" style="text-decoration: none">
                                    - Lot finished stuck in RUN and has message &quot;Poling for yas data file&quot;
                                </a>
                            </font>
                        </address>
			            <br /><br />
			            <address>
                            <u><i><font face="Neo Sans Intel Medium" size="4" color="#FFFFFF">Review Tools:</font></i></u>
                        </address>
			            <address>
                            <font face="Neo Sans Intel" size="2" color="#FFFFFF">
                                <a href="Done_Docs/Review_Tool_No_Images.htm" style="text-decoration: none">
                                    - User ranlot on Review tool but not seeing images in Klarity
                                </a>
                            </font>
                        </address>
                        <br />
			            <address>
                            <font face="Neo Sans Intel" size="2" color="#FFFFFF">
                                <a style="text-decoration: none" href="Done_Docs/SRA_Max_time_wait_for_tool_spc.htm">
                                    - User gets popup message &quot;The maximum time to wait for a tool spc file has been reached&quot;
                                </a>
                            </font>
                        </address>
                        <br /><br />
			            <address>
                            <u><i><font face="Neo Sans Intel Medium" size="4" color="#FFFFFF">Classification Tools:</font></i></u>
                        </address>
			            <address>
                            <font face="Neo Sans Intel" color="#FFFFFF" size="2">
                                <a href="Done_Docs/DOR_No_Imagedata_Available.htm" style="text-decoration: none">
                                    - Lot aborts on DOR tool due to &quot;Lot found in ICE Server, but no image data available&quot;
                                </a>
                            </font>
                        </address>
                        <br />
			            <address>
                            <font face="Neo Sans Intel" size="2" color="#FFFFFF">
                                <a href="Done_Docs/Lot_Not_Found_In_ICE_Server.html" style="text-decoration: none">
                                    - Lot aborted on DOR tool due to &quot;Lot Not Found in ICE Server, No data available&quot;
                                </a>
                            </font>
                        </address>
                        <br />
			            <address>
                            <font face="Neo Sans Intel" size="2">
                                <a href="Done_Docs/DOR_Max_waittime_for_YAS_Sfile.htm" style="text-decoration: none">
                                    - Lot finished classifying on DOR tool but getting message &quot;The maximum time to wait for a 
                                    YAS Sfile has been reached. Select OK to repeat the wait loop or Cancel to Abort the Lot&quot;.
                                </a>&nbsp;&nbsp;&nbsp; -&nbsp;&nbsp;&nbsp;
                                <a href="Done_Docs/DOR_Max_waittime_for_YAS_Sfile_D1C.htm" style="text-decoration: none">
                                    D1C Example of same issue
                                </a>
                            </font>
                        </address>
                        <br /><br />
			            <address>
                            <u><i><font face="Neo Sans Intel Medium" size="4" color="#FFFFFF">General YAS / Klarity issues:</font></i></u>
                        </address>
			            <address>
                            <font face="Neo Sans Intel" size="2" color="#FFFFFF">
                                <a href="Done_Docs/1270_lot_no_data.html" style="text-decoration: none">
                                    - User ran 1270 lot but cannot find data in Klarity
                                </a>
                            </font>
                        </address>
                        <br />
			            <address style="text-align:center">
                            <font face="Neo Sans Intel" size="2" color="#FF0000">
                                ** For new common issues that need to be documented on this list, Please e-mail 
                                Larry Ma. Include Lot number, Tool ID, Time, and screen capture of error if possible.
                            </font>
                        </address>
			        </td>
		        </tr>
	        </table>

	        <p align="center">&nbsp;</p>
	        <p align="center">&nbsp;</p>
        </div>

        <table border="0" width="100%">
	        <tr>
		        <td><p align="center">&nbsp;</p>
                    <table width="100%" border="0">
                        <tr>
                            <td><p align="center"></p></td>
                        </tr>
                    </table>
                    <p align="center">&nbsp;</p><p align="center">&nbsp;</p>
                </td>
	        </tr>
        </table>
    </body>
</html>
